{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'weather/main.css' %}">
    <title>Document</title>
  </head>
  <body>
    <h1>Weather App</h1>

    {% if messages %}
    {% for message in messages %}
   <p> {{message}} </p> 
    {% endfor %}
    {% endif %}

    <br />
    
    <form action="" method="POST">
      {% csrf_token %} {{ form }}
      <button type="submit">Add</button>
    </form>
    <br />
   
   {% for city in city_data %} 
   <div class="city">
   {{ city.city }} <br />
    <img
      src="http://openweathermap.org/img/w/{{ city.icon }}.png"
      alt="Image"
    />
    
    {{ city.temp }} 
    {{ city.description }} 

    <a href="{% url 'delete' city.city %}">Delete</a>
    </div>
    
    {% endfor %}
 
 
</html>
